.gamescreen {
    border: #0D98BA outset 10px;
    border-radius: 10px;
    margin: 3px;
}

.layering-canvas {
    position: absolute;
    top: 0;
    left: 0; 
}

.canvas-container {
    position: relative;
}

.title-card {
    padding: 20px 0 20px 0;
}

.winner-popup-container {
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
}
.winner-popup {
    position: relative;
    margin: 0 auto;
    background-color: lightgrey;
    border-radius: 10px;
    top: 30%;
    width: 50%;
    padding: 30px;
    border: black solid 10px;
}